@mixin sp {
  @media(max-width: 900px) {
      @content;
  }
}

.main_title_about {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  color: #333;
  margin-top: 30px;
  margin-bottom: 30px;
}

.about_explain_1 {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  margin-bottom: 30px;
}

.about_explain_2 {
  font-family: Arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  color: #333;
  // margin-bottom: 156px;
  // padding-bottom: 360px;

  @include sp {
    margin-bottom: 140px;
  }
}
